<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <redirect>
            <general>
                <enable>1</enable>
                <notice><![CDATA[The product you tried to view is not available but here are some other options instead.]]></notice>
            </general>
        </redirect>
    </default>
</config>
