<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="medialounge" translate="label" sortOrder="200">
            <label>Media Lounge</label>
        </tab>
        <section id="redirect" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>medialounge</tab>
            <label>Disabled Products Redirect</label>
            <resource>MediaLounge_DisabledProductsRedirect::redirect</resource>
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
